<!doctype html>
<html>
  <head>
    <title>STRIKE A POSE</title>
    <script src="${input.scripts}"></script>
    <link rel="stylesheet" href="${input.styles}"/>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
