<!doctype html>
<html>
  <head>
    <title>STRIKE A POSE</title>
    <link rel="stylesheet" href="${input.app_styles}"/>
  </head>
  <body>
    <div id="root"></div>
    <script src="${input.app_script}"></script>
  </body>
</html>
